*{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
a, a:hover{
    all: unset;
}

.landingPageBox{
    margin: 5%;
    padding: 5%;
    box-shadow: 0px -5px 15px -11px black;
    cursor: pointer;
}
.homePageBox{
    margin: 2.5%;
    padding: 2.5%;
    box-shadow: 0px -5px 15px -11px black;
    border-radius: 10%;
    cursor: pointer;
}