*{
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}
/* a, a:hover{
    all: unset;
} */
.anchorReset{
    all: unset
}
.mainContainer{
 
}
.landingPageParent{
    border-top: 7px double #98047E;
}
.landingPageBox{
    margin: 5%;
    padding: 2.5%;
    box-shadow: 2px -3px 25px -18px black;
    border: 2px solid rgba(160, 160, 160, 0.212);
    cursor: pointer;
    margin-bottom: 10%;
}
.homePageBox{
    margin: 2.5%;
    padding: 2.5%;
    box-shadow: 2px -3px 25px -18px black;
    border: 2px solid rgba(160, 160, 160, 0.212);
    cursor: pointer;
}
.coloredBG{
}
.roundLogo{
    border-radius: 100%;
}
.blueText{
    color: #6196C0;
}
.purpleText{
    color: #98047E;
}
.outerMargin{
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 2%;
}
.bottomMargin{
    margin-bottom: 10%;
}
.paragraphMargin{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
.cancelSectionPadding{
    padding-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
}
.iconPulledLeft{
    padding-left: 0%;
    padding-right:55%;
    cursor: pointer;
}